
<div class="flex flex-col h-screen bg-gray-400  bg-gradient-to-r from-gray-300 to-gray-400">
    <header class="bg-black text-white p-4 text-center text-lg jarfont bg-gradient-to-r from-black to-gray-500 border-b-3  border-t-2 border-white">
      JARVIS
    </header>
    <main class="flex-grow p-4 overflow-auto">
      <div class="flex flex-col space-y-4">
        <ng-container *ngFor="let message of main.sender; let i = index">
          <!-- User message -->
          <div class="self-end bg-white shadow-md p-4 rounded-lg max-w-xl">
            <p class="text-gray-600"><strong>ME:</strong></p>
            <div [innerHTML]="message.text | formatting"></div>
          </div>
          <!-- AI message -->
          <div *ngIf="main.gptreply[i]" class="self-start bg-gray-600 text-white shadow-md p-4 rounded-lg max-w-xs">
            <p class="text-white"><strong>JARVIS:</strong></p>
            <div [innerHTML]="main.gptreply[i].text | formatting"></div>
          </div>
        </ng-container>
      </div>
    </main>
    <footer class="p-4">
      <div class="flex items-center space-x-4">
        <input
          id="p1"
          type="text"
          placeholder="Type your message"
          class="flex-grow bg-white/50 p-2 text-black border rounded-lg  focus:ring-2 focus:bg-white/40  focus:ring-blue-600 "
          [(ngModel)]="prompt"
          (keyup.enter)="run()"
        />
        <button
          (click)="run()"
          class="bg-blue-900  text-white p-2 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-900"
        >
          Send
        </button>
      </div>
    </footer>
  </div>
  